// Place all the styles related to the pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style: none;
}

.pokedex {
  display: flex;
  height: 100%;
}

.item-list {
  display: flex;

}

a {
  text-decoration: none;
}

.pokedex > ul {
  padding: 0 10px 0 0;
  width: 300px;
  height: calc(100% - 20px);
  overflow: scroll;
}

.pokedex > ul > li {
  border-top: 1px solid black;
}

.pokedex > ul > li:hover {
  background-color: #747474;
  color: white;
}

.pokedex > ul > li img {
  height: 50px;
  width: 50px;
}

.pokemon-detail{
  padding: 0 10px 0 0;
  width: calc(100% - 300px);
  height: calc(100% - 20px);
  overflow: scroll;
  align-items: center;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
